{% extends 'base.html' %}

{% block title %}
    Courses
{% endblock title %}

{% block body %}
        <div class="head-title">
        <h2>About Us</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit
            quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium.</p>
    </div>

    <section class="courses">
        <div class="title">
            <div class="sub-title">
                <span>COURSES</span>
                <div class="line"></div>
            </div>
            <h1>POPULAR COURSES</h1>
        </div>
        <div class="courses-container">
            <div class="course-box">
                <div class="img-div">
                    <img src="static/images/course-1.jpg" alt="">
                </div>
                <div class="body">
                    <div class="header">
                        <button class="course-btn">Web Development</button>
                        <span>$180</span>
                    </div>
                    <div class="content">
                        <h3>Website Design</h3>
                        <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores
                            dolorem tempore.</p>
                    </div>
                    <div class="user">
                        <div class="user-left">
                            <img src="static/images/trainer-1.jpg" alt="">
                            <span>Antonio</span>
                        </div>
                        <div class="user-right">
                            <div>
                                <i class="far fa-user"></i> <span>35</span>
                            </div>
                            <div>
                                <i class="far fa-heart"></i> <span>35</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course-box">
                <div class="img-div">
                    <img src="static/images/course-2.jpg" alt="">
                </div>
                <div class="body">
                    <div class="header">
                        <button class="course-btn">Marketing</button>
                        <span>$180</span>
                    </div>
                    <div class="content">
                        <h3>Search Engine Optimization</h3>
                        <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores
                            dolorem tempore.</p>
                    </div>
                    <div class="user">
                        <div class="user-left">
                            <img src="static/images/trainer-2.jpg" alt="">
                            <span>Antonio</span>
                        </div>
                        <div class="user-right">
                            <div>
                                <i class="far fa-user"></i> <span>35</span>
                            </div>
                            <div>
                                <i class="far fa-heart"></i> <span>35</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="course-box">
                <div class="img-div">
                    <img src="static/images/course-3.jpg" alt="">
                </div>
                <div class="body">
                    <div class="header">
                        <button class="course-btn">Content</button>
                        <span>$180</span>
                    </div>
                    <div class="content">
                        <h3>Copywriting</h3>
                        <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores
                            dolorem tempore.</p>
                    </div>
                    <div class="user">
                        <div class="user-left">
                            <img src="static/images/trainer-3.jpg" alt="">
                            <span>Antonio</span>
                        </div>
                        <div class="user-right">
                            <div>
                                <i class="far fa-user"></i> <span>35</span>
                            </div>
                            <div>
                                <i class="far fa-heart"></i> <span>35</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock body %}